$primary-color-background-dark: #0288d1;
$primary-color-background: #03a9f4;
$primary-color-background-light: #b3e5fc;
$primary-color-text-dark: #212121;
$primary-color-text-light: #ffffff;
$secondary-color-text: #757575;
$accent-color: #ff5722;
$divider-color: #bdbdbd;
$shadow: rgba(34, 36, 38, .15);

.khung_status {
  display: grid;
  position: relative;
  width: 50%;
  height: max-content;
  border: 0.5px solid whitesmoke;
  border-radius: 5px;
  // box-shadow: 3px 2px $shadow;

  .khung_background_user {
    overflow: hidden;
    position: absolute;
    top: 0;
    height: 5rem;
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

    .background_user {
      position: absolute;
      top: 0;
      width: 100%;
      height: auto;
      cursor: pointer;
      border-radius: 5px;
      filter: blur(2px);
      transition: all 3s ease-in-out;

      &:hover {
        top: -300px;
        filter: blur(0px);
      }
    }
  }

  .avatar_user {
    position: absolute;
    top: 2rem;
    left: 1rem;
    width: 4rem;
    height: 4rem;
    background: red;
    z-index: 1;
    border-radius: 50%;
  }

  .khung_name_user {
    position: absolute;
    top: 0;
    margin-top: 3rem;
    margin-left: 6rem;
    width: max-content;
    height: max-content;

    .name_user {
      font-size: 1.2rem;
      color: white;
      font-weight: bold;
      font-size: 1.5rem;
      cursor: pointer;
    }
  }

  .khung_content {
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 1fr;

    position: absolute;
    top: 5rem;
    width: 100%;
    height: auto;
    background: whitesmoke;

    .khung_tuongtac_chua_button {
      grid-column: 1/2;
      grid-row: 1/2;
      margin-top: 1.5rem;

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2rem;
        height: 2rem;
        background: white;
        border: 0.5px solid rgb(189, 189, 189);
        border-radius: 50%;
        outline: none;
        cursor: pointer;
        transition: all .4s;
        margin: .5rem auto;
        font-size: 0;
        margin: 0.5rem 0 0 1rem;

        i {
          font-size: 1.2rem;
        }

        &:hover {
          background: rgba(145, 145, 145, 0.2);
          width: 4rem;
          font-size: 0.8rem;
          border-radius: 1rem;
          
          >*{
            margin: auto 0.25rem;
          }
        }
      }
    }

    .khung_status_comment {
      position: relative;
      grid-column: 2/3;
      grid-row: 1/2;
      padding-left: 1rem;
      // padding-top: 0.5rem;
      padding-right: 0.8rem;

      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;

      .khung_status_user {
        grid-column: 1/2;
        grid-row: 1/2;

        width: 100%;
        height: max-content;

        p {
          text-align: justify;
          font-size: 1.05rem;
        }
      }

      .khung_comment_user {
        grid-column: 1/2;
        grid-row: 2/3;

        width: 40rem;
        height: auto;

        .khung_their {
          display: grid;
          grid-template-columns: 2rem auto;
          grid-template-rows: 1fr;
          grid-column-gap: 1rem;

          position: relative;
          width: 98%;
          height: auto;
          margin-bottom: 1.5rem;
          border: 0.5px solid black;
          padding: 0.5rem 0.5rem 1rem 0.5rem;

          .khung_their_avatar {
            grid-column: 1/2;
            grid-row: 1/2;
            
            width: 2rem;
            height: 2rem;
            background: white;
            border: 0.5px solid $primary-color-background-dark;
            border-radius: 50%;
          }
          .khung_their_comment {
            grid-column: 2/3;
            grid-row: 1/2;

            height: auto;
            background: $primary-color-background-light;
            border: 0.5px solid $primary-color-background-dark;
            border-radius: 5px;
            padding: 5px 5px 5px 0.5rem;

            p {
              margin: 0;
              width: 100%;
              text-overflow: ellipsis; 
              white-space: pre-line;
            }
          }
          .khung_tuongtac_their_comment {
              position: absolute;
              right: 0;
              bottom: -0.5rem;
              margin-right: 1.4rem;
              width: max-content;
              height: 1rem;
              padding: 0;

              button {
                  width: 2.5rem;
                  height: 1.5rem;
                  padding: 0;
                  background: whitesmoke;
                  text-overflow: ellipsis;
                  outline: none;
                  cursor: pointer;
                  margin-right: 5px;
                  border-radius: 10px;
                  box-shadow: 2px 1px $shadow;
              }

              .btn_rep_cmt{
                  width: 4rem;
                  height: 1.5rem;
                  border-radius: 4px;
                  border: 0.5px solid rgba(170, 170, 170, 0.8);
                  transition: all .5s ease-out;

                  &:hover{
                    background: rgb(197, 197, 197);
                  }
              }

              .btn_like {
                  color: white;
                  background: $primary-color-background-dark;
                  border: 0.5px solid $primary-color-background-dark;
                  transition: all .5s ease-out;

                  &:hover{
                    color: $primary-color-background-dark;
                    background: white;
                  }
              }

              .btn_dislike {
                  color: white;
                  background: red;
                  border: 0.5px solid red;
                  transition: all .5s ease-out;

                  &:hover{
                    color: red;
                    background: white;
                  }
              }
          }
        }

        .khung_demo_before{
          display: grid;
          grid-template-columns: 10% 90%;
          grid-template-rows: 1fr;

          .khung_picture_before_cmt{
            grid-column: 1/2;
            grid-row: 1/2;

            width: 5rem;
            height: 5rem;
          }

          .khung_rep_cmt{
            grid-column: 2/3;
            grid-row: 1/2;

            display: grid;
            grid-template-columns: 2rem auto;
            grid-template-rows: 1fr;
            grid-column-gap: 1rem;
  
            position: relative;
            width: 98%;
            height: auto;
            margin-bottom: 1.5rem;
            border: 0.5px solid black;
            padding: 0.5rem 0.5rem 1rem 0.5rem;
  
            .khung_repcmt_avatar {
              grid-column: 1/2;
              grid-row: 1/2;
              
              width: 2rem;
              height: 2rem;
              background: white;
              border: 0.5px solid green;
              border-radius: 50%;
            }
            .khung_repcmt_comment {
              grid-column: 2/3;
              grid-row: 1/2;
  
              height: auto;
              background: rgb(100, 252, 100);
              border: 0.5px solid green;
              border-radius: 5px;
              padding: 5px 5px 5px 0.5rem;
  
              p {
                margin: 0;
                width: 100%;
                text-overflow: ellipsis; 
                white-space: pre-line;
              }
            }
            .khung_tuongtac_repcmt_comment {
                position: absolute;
                right: 0;
                bottom: -0.5rem;
                margin-right: 1.4rem;
                width: max-content;
                height: 1rem;
                padding: 0;
  
                button {
                    width: 2.5rem;
                    height: 1.5rem;
                    padding: 0;
                    background: whitesmoke;
                    text-overflow: ellipsis;
                    outline: none;
                    cursor: pointer;
                    margin-right: 5px;
                    border-radius: 10px;
                    box-shadow: 2px 1px $shadow;
                }
  
                .btn_rep_cmt{
                    width: 4rem;
                    height: 1.5rem;
                    border-radius: 4px;
                    border: 0.5px solid rgba(170, 170, 170, 0.8);
                    transition: all .5s ease-out;
  
                    &:hover{
                      background: rgb(197, 197, 197);
                    }
                }
  
                .btn_like {
                    color: white;
                    background: $primary-color-background-dark;
                    border: 0.5px solid $primary-color-background-dark;
                    transition: all .5s ease-out;
  
                    &:hover{
                      color: $primary-color-background-dark;
                      background: white;
                    }
                }
  
                .btn_dislike {
                    color: white;
                    background: red;
                    border: 0.5px solid red;
                    transition: all .5s ease-out;
  
                    &:hover{
                      color: red;
                      background: white;
                    }
                }
            }
          }
        }
        .khung_your_repcomment {
          display: grid;
          grid-template-columns: 3.5rem auto 5rem;
          grid-template-rows: 1fr;

          border: 0.5px solid $primary-color-background-dark;
          border-radius: 5px;
          width: 40rem;
          height: auto;
          margin: 0.5rem 0;
          background: $primary-color-background-light !important;

          .repcmt_your_avatar {
            grid-column: 1/2;
            grid-row: 1/2;

            border: 0.5px solid $primary-color-background-dark;
            border-radius: 50%;
            width: 2rem;
            height: 2rem;
            margin: 0.5rem;
            background: white;
          }

          .repcmt_your_comment {
            grid-column: 2/3;
            grid-row: 1/2;
            
            width: auto;
            height: 2rem;
            border: 0.5px solid $primary-color-background-dark;
            border-radius: 5px;
            outline: none;
            margin-top: 0.2rem;
            margin-right: 0.5rem;
            background: white;
            overflow: hidden;
            padding: 0.2rem 0.5rem 0.2rem 0.5rem;
          }

          .repcmt_khung_file_photo {
              grid-column: 3/4;
              grid-row: 1/2;
  
              width: 5rem;
              height: 2rem;
  
              button {
                  background: white;
                  width: 2rem;
                  height: 2rem;
                  margin-top: 0.5rem;
                  margin-left: 5px;
                  padding: 0;
                  border: 0.5px solid $primary-color-background-dark;
                  border-radius: 50%;
                  outline: none;
                  cursor: pointer;
                  transition: all 0.5s ease-out;
  
                  &:hover{
                  background: $primary-color-background-dark;
                  }
              }
              .khung_btn_upload {
                  position: relative;
                  overflow: hidden;
                  display: inline-block;

                  input[type=file] {
                      font-size: 100px;
                      position: absolute;
                      left: 0;
                      top: 0;
                      opacity: 0;
                  }
              }
          }
        }

        .khung_your_comment {
          display: grid;
          grid-template-columns: 4rem auto 4rem;
          grid-template-rows: 1fr;

          border: 0.5px solid $primary-color-background-dark;
          border-radius: 5px;
          width: 101%;
          height: 5.5rem;
          margin: 0.5rem 0;
          background: $primary-color-background-light;

          .your_avatar {
            grid-column: 1/2;
            grid-row: 1/2;

            border: 0.5px solid $primary-color-background-dark;
            border-radius: 50%;
            width: 3rem;
            height: 3rem;
            margin: 0.5rem;
            background: white;
          }

          .your_comment {
            grid-column: 2/3;
            grid-row: 1/2;

            width: 33rem;
            height: 4rem;
            border: 0.5px solid $primary-color-background-dark;
            border-radius: 5px;
            outline: none;
            margin-top: 0.2rem;
            background: white;
            overflow: hidden;
            padding: 0.2rem 0.5rem 0.2rem 0.5rem;
          }

          .khung_file_photo {
              grid-column: 3/4;
              grid-row: 1/2;
  
              width: 3rem;
              height: 3rem;
              margin-left: 3px;
  
              button {
                  background: white;
                  width: 2rem;
                  height: 2rem;
                  margin-top: 0.2rem;
                  padding: 0;
                  border: 0.5px solid $primary-color-background-dark;
                  border-radius: 50%;
                  outline: none;
                  cursor: pointer;
                  transition: all 0.5s ease-out;
  
                  &:hover{
                  background: $primary-color-background-dark;
                  }
              }
              .khung_btn_upload {
                  position: relative;
                  overflow: hidden;
                  display: inline-block;

                  input[type=file] {
                      font-size: 100px;
                      position: absolute;
                      left: 0;
                      top: 0;
                      opacity: 0;
                  }
              }
          }
        }
      }
    }
  }
}
.khung_share{
  display: grid;

  position: fixed;
  width: 25rem;
  height: 20rem;
  background: $primary-color-background-light;
  left: 50%;
  top: 50%;
  z-index: 9999;
  transform: translate(-50%, -50%);
  border: 0.5px solid $primary-color-background-dark;
  border-radius: 0.5rem;
  box-shadow: 2px 1px $shadow;

  button{
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 2rem;
    background: whitesmoke;
    color: $primary-color-background-dark;
    font-size: 0;
    border: 0.5px solid $primary-color-background-dark;
    border-radius: 5px;
    transition: all 0.8s 0.2s ease-out;

    i{
      color: $primary-color-background-dark;
    }

    &:hover{
      font-size: 1rem;
      background: rgb(219, 219, 219);
      i{
        font-size: 0;
      }
    }
  }
}
