/*the container must be positioned relative:*/
.form-select {
    position: relative;
    width: max-content;
}
.form-select select {
    display: none; /*hide original SELECT element:*/
    width: max-content;
}

.select-selected {
    background-color: white;
    width: max-content;
    border: 1px solid #464aff;
    border-radius: 0.3rem;
}

/*style the items (options), including the selected item:*/
.select-items div, .select-selected {
    color: #000;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    line-height: 1rem;
    width: max-content;
}
/*style items (options):*/
.select-items {
    position: absolute;
    background-color: white;
    width: max-content;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 3;
}
/*hide the items when the select box is closed:*/
.select-hide {
    display: none;
}
.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

option{
    border: 0;
    background-color: white;
    color: #000;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}

acom-select{
    display: grid;
    grid-template-areas:
    'label items';
    grid-gap: 1rem;
    grid-template-rows: 1fr;
    grid-template-columns: max-content max-content;
    place-content: baseline;
    color: #000;
    background: transparent;
}

acom-select > acom-select-label{
    display: block;
    grid-area: label;
    font-size: 1rem;
    line-height: 1rem;
    width: max-content;
    padding: 0.5rem;
}

acom-select > acom-select-option{
    display: flex;
    flex-direction: column;
    grid-area: items;
    width: max-content;
    padding: 0 1.5rem 0 0;
    font-size: 1rem;
    line-height: 1rem;
    border: 1px solid dodgerblue;
    border-radius: 0.5rem;
    max-height: 8rem;
    overflow: auto;
    cursor: pointer;
}

acom-select > acom-select-option::after{

}

acom-select > acom-select-option > acom-select-option-item{
    display: block;
    padding: 0.5rem;
    cursor: pointer;
}

acom-select > acom-select-option > acom-select-option-item:hover{
    background: rgba(0 ,0 ,0 , 0.1);
}