<!--The content below is only a placeholder and can be replaced.-->
<div class="shadow design">
  <img class="avatar" src="http://www.krugerpark.co.za/images/1-lion-charge-gc590a.jpg" alt="">
  <img class="background" src="https://i.kinja-img.com/gawker-media/image/upload/s--s1IAfVS_--/c_fill,f_auto,fl_progressive,g_center,h_675,q_80,w_1200/kaprfadz9rnvypesa2u9.png" alt="">
  
  <div class="name">
    Lorem ipsum dolor sit amet.
  </div>

  <div class="div-sttcmt">
    <div class="div-stt">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate magnam laboriosam repudiandae aliquid quasi! Quasi dolore eveniet nulla esse. Tempore molestiae, inventore id non dolores ea quia, assumenda qui quas nostrum ipsa voluptatum sapiente doloribus fugit. Recusandae odio deserunt officia repudiandae vitae? Officia perspiciatis aliquam pariatur, harum nobis necessitatibus assumenda voluptate veritatis eaque distinctio, at maiores voluptatem dicta. Deleniti quidem sit ducimus minus ipsum tempora ipsa modi reiciendis facere facilis doloremque recusandae nobis quaerat totam rem laboriosam tempore officiis, fugit odit nulla veniam exercitationem quam dolores? Ipsam possimus, quo quasi harum, eius ducimus quidem dolorum, repellendus dolorem ex temporibus saepe.
    </div>
    
    <div class="div-cmt">
      <div class="cmt-cmt">
        <img class="avatar-cmt" src="https://i.kinja-img.com/gawker-media/image/upload/s--s1IAfVS_--/c_fill,f_auto,fl_progressive,g_center,h_675,q_80,w_1200/kaprfadz9rnvypesa2u9.png" alt="">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum facilis modi, quaerat nesciunt veniam quasi est libero totam inventore adipisci laudantium magni consequuntur dolores corporis a. Soluta labore delectus culpa.
      </div>
      <div style="padding: 2rem">
        <button class="btn view-cmt">
          View more
        </button>
      </div>
      
    </div>
  </div>
</div>

